<!DOCTYPE html>
<html lang="en">
<head>
  <title>Memory Spel</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheet.css">

</head>

<body>
  <!--Boxar med bilderna aka array-->
  <section class="storabox">
    <!--alltså totalt 12st divar där varje div har en 
      framdel och en backdel, där en bild representerar varje.
    -->

    <div class="memkort">
      <img class="framsida" src="bilder/ironman.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/ironman.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/brad.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/brad.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/harry.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/harry.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/johnny.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/johnny.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/grinch.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/grinch.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/chris.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

    <div class="memkort">
      <img class="framsida" src="bilder/chris.jpg"/>
      <img class="backsida" src="bilder/logga1.jpg"/>
    </div>

  </section>
<!--Länkar javascript funktionerna-->
  <script src="functions.js"></script>
</body>
</html>