div
    h2 Memorize!

div 
    h3 Vilken elev är det här?
    //p = result[1]["name"]

div 
    img id="student" src="img/cat_comfy.jpg" alt="width=1000" height="300""


div 
    form action="/" method="get"
        label for="guess" Gissning: 
        input type="text" name="guess" id="guess" placeholder="Skriv in din gissning"
        button type="submit" id="submitGuess" value="Kolla gissning" Kolla min gissning


javascript:
        
        const names = [
        {'name': 'Katt', 'img': "img/hapicat.jpg"} , 
        {'name': 'Brad Pitt', 'img': "img/MV5BMjA1MjE2MTQ2MV5BMl5BanBnXkFtZTcwMjE5MDY0Nw@@._V1_UX140_CR0,0,140,209_AL_.jpg" } , 
        {'name': 'Tom Cruise', 'img':"img/MV5BMTk1MjM3NTU5M15BMl5BanBnXkFtZTcwMTMyMjAyMg@@._V1_UY209_CR9,0,140,209_AL_.jpg" } , 
        {'name': 'Johnny Depp' , 'img': "img/MV5BMTM0ODU5Nzk2OV5BMl5BanBnXkFtZTcwMzI2ODgyNQ@@._V1_UY209_CR3,0,140,209_AL_.jpg" } , 
        {'name': 'Emma Watson', 'img': "img/MV5BMTQ3ODE2NTMxMV5BMl5BanBnXkFtZTgwOTIzOTQzMjE@._V1_UY209_CR14,0,140,209_AL_.jpg"}];

        const randomPos = Math.floor(Math.random() * names.length);
        const randomName = names[randomPos]['name']
        console.log('Random Name', randomName)
        
        const img = document.querySelector("#student")
        img.setAttribute("src", names[randomPos]["img"])
        console.log(img)

        function checkGuess() {
            
            let myGuess = guess.value
                if (myGuess.toLowerCase() === randomName.toLowerCase()){
                    alert("Du svarade rätt!")
                }
                else {
                    alert("Du svarade fel")
                }
        }
        submitGuess.addEventListener('click', checkGuess)
 

 