@font-face {
  font-family: 'SoletoLight';
  src: url("../fonts/Dalton_Maag-Soleto_Light.ttf");
}

@font-face {
  font-family: 'SoletoMedium';
  src: url("../fonts/Dalton_Maag-Soleto_Medium.ttf");
}

@font-face {
  font-family: 'SoletoThin';
  src: url("../fonts/Dalton_Maag-Soleto_Thin.ttf");
}

body {
  margin: 0;
  background: #130d27;
  color: white;
  font-family: 'SoletoLight';
}

body nav {
  padding: 0 2rem 0 2rem;
  background: #692b6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/nti_bakgrund.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  -webkit-box-shadow: 0px 5px 40px black;
          box-shadow: 0px 5px 40px black;
}

body nav h1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  font-family: 'SoletoThin';
  font-size: 1.8rem;
}

body nav h1 a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav h1 a h1 {
  padding-left: .5rem;
}

body nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  text-decoration: none;
  color: white;
}

body nav a img {
  -o-object-fit: contain;
     object-fit: contain;
}

body nav form input {
  background: none;
  color: white;
  border: 1px solid white;
  padding: .5rem 1rem;
}

body header {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/3) calc(100%/3) calc(100%/3);
      grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .title-item {
  height: 5rem;
}

body header .title-item h2 {
  font-size: 1.5em;
}

body header .title-item #games {
  font-family: 'SoletoLight';
}

body header a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  font-size: 1.1rem;
  font-family: "SoletoThin";
}

body header a p {
  padding-right: .4rem;
}

body .items {
  padding: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .items article {
  margin: 1rem;
  background: #692b6f;
  padding: 1rem 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
}

body .items article a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .items article a .checkbox {
  height: 1.5rem;
  width: 1.5rem;
}

body .items article a p {
  font-family: 'SoletoMedium';
  padding-right: 1rem;
  font-size: 1.5vw;
}

body .items article a div {
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .items article img {
  height: 14rem;
  width: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
}

body .selected section {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

body .selected section article {
  margin: 1rem;
  background: #692b6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .selected section article a {
  color: white;
  text-decoration: none;
}

body .selected section article a div {
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .selected section article img {
  height: 14rem;
  width: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
}

body #select_submit {
  font-size: 1.2rem;
  font-family: 'SoletoThin';
  color: white;
  border: 1px white solid;
  padding: .5rem 1rem;
  background: none;
}

body aside {
  background: white;
  width: 18rem;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  margin-top: -4.2rem;
  height: 42.8rem;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

body main article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
}

body main article div {
  background: #692b6f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: .5rem;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
  margin: 1rem;
}

body main article div img {
  height: 15rem;
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem .5rem 0 0;
}

body main article div article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: .5rem;
  width: 6rem;
}

body main article div article form label input {
  display: none;
}

body div {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .form {
  padding: 5rem 0;
}

body .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #692b6f;
  border-radius: .5rem;
  padding: 2rem;
  width: 14rem;
  -webkit-box-shadow: 0px 0px 70px black;
          box-shadow: 0px 0px 70px black;
}

body .form form h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .form form input {
  height: 1.1rem;
  margin: .3rem 0;
}

body .form form .form_button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: .5rem 1rem;
  height: auto;
  margin-top: 1rem;
  border-radius: .3rem;
  font-size: .8em;
  font-family: 'SoletoMedium';
}

body #logo {
  width: 12rem;
}

body #memorybody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #692b6f;
  -ms-flex-flow: column;
      flex-flow: column;
  width: 25%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0px 0px 90px #692b6f;
          box-shadow: 0px 0px 90px #692b6f;
}

body #memorybody img {
  width: 18rem;
  height: 23rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

body #memorybody label {
  padding-bottom: .5rem;
}

body #memorybody #guess {
  height: 1.1rem;
  width: 14rem;
}

body #memorybody button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: .5rem 1rem;
  margin: .5rem 0 0 0;
  width: -webkit-fill-available;
  border-radius: .3rem;
}

body #guessform {
  padding: 1rem;
}

body #front_background {
  background-image: url("../img/bakgrund3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vh;
  background-position: center;
}

body .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .center a {
  color: blueviolet;
}
/*# sourceMappingURL=style.css.map */