$bgcolor: #130d27;
$navcolor: #692b6f;
$textcolor: white;
// ruby app.rb -o 0.0.0.0
// http://192.168.4.182:4567
@font-face {
    font-family: 'SoletoLight';
    src: url('../fonts/Dalton_Maag-Soleto_Light.ttf');
}
@font-face {
    font-family: 'SoletoMedium';
    src: url('../fonts/Dalton_Maag-Soleto_Medium.ttf');
}
@font-face {
    font-family: 'SoletoThin';
    src: url('../fonts/Dalton_Maag-Soleto_Thin.ttf');
}

body {
    margin: 0;
    background: $bgcolor;
    color: $textcolor;
    font-family: 'SoletoLight';
    nav {
        padding: 0 2rem 0 2rem;
        background: $navcolor;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url("../img/nti_bakgrund.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        box-shadow: 0px 5px 40px black;
        h1 {
            flex-grow: 1;
            margin: 0;
            font-family: 'SoletoThin';
            font-size: 1.8rem;
            a {
                align-items: center;
                h1 {
                    padding-left: .5rem;
                }
            }
        }
        a {
            display: flex;
            margin: 1rem;
            text-decoration: none;
            color: $textcolor;
            img {
                object-fit: contain;
            }
        }
        form {
            input {
                background: none;
                color: $textcolor;
                border: 1px solid white;
                padding: .5rem 1rem;
            }
        }
    }
    header {
        color: $textcolor;
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        justify-content: center;
        align-items: center;
        .title-item {
            height: 5rem;
            h2 {
                font-size: 1.5em;
            }
            #games {
                font-family: 'SoletoLight';
            }
        }
        a {
            color: $textcolor;    
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 0 3rem;
            font-size: 1.1rem;
            font-family: "SoletoThin";
            p {
                padding-right: .4rem;
            }
        }
    }
    .items {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: center;
        article {
            margin: 1rem;
            background: $navcolor;
            padding: 1rem 2rem;
            border-radius: .5rem;
            box-shadow: 3px 3px 10px black;
            a {
                color: $textcolor;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .checkbox {
                    height: 1.5rem;
                    width: 1.5rem;
                }
                p {
                    font-family: 'SoletoMedium';
                    padding-right: 1rem;
                    font-size: 1.5vw;
                }
                div {
                    padding: 0 .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            img {
                height: 14rem;
                width: 14rem;
                object-fit: cover;
            }
        }
    }
    .selected {
        section {
            padding: 4rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            float: left;
            article {
                margin: 1rem;
                background: $navcolor;
                display: flex;
                flex-direction: column;
                a {
                    color: $textcolor;
                    text-decoration: none;
                    div {
                        padding: 0 .5rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
                img {
                    height: 14rem;
                    width: 14rem;
                    object-fit: cover;
                }
            }
        }
    }
    #select_submit {
        font-size: 1.2rem;
        font-family: 'SoletoThin';
        color: $textcolor;
        border: 1px white solid;
        padding: .5rem 1rem;
        background: none;
    }
    aside {
        background: white;
        width: 18rem;
        float: right;
        position: sticky;
        margin-top: -4.2rem;
        height: 42.8rem;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3rem;
        article {
            display: grid;
            grid-template-columns: repeat(5, auto);
            div {
                background: $navcolor;
                flex-direction: column;
                justify-content: center;
                border-radius: .5rem;
                box-shadow: 3px 3px 10px black;
                margin: 1rem;
                img {
                    height: 15rem;
                    width: 12rem;
                    object-fit: cover;
                    border-radius: .5rem .5rem 0 0;
                }
                article {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: .5rem;
                    width: 6rem;
                    form {
                        label {
                            input {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    div {
        color: $textcolor;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: fit-content;
        }
    }
    .form {
        padding: 5rem 0;
        form {
            display: flex;
            flex-flow: column;
            background: $navcolor;
            border-radius: .5rem;
            padding: 2rem;
            width: 14rem;
            box-shadow: 0px 0px 70px black;
            h2 {
                display: flex;
                justify-content: center;
            }
            input {
                height: 1.1rem;
                margin: .3rem 0;
            }
            .form_button{
                background: none;
                color: white;
                border: 1px solid white;
                padding: .5rem 1rem;
                height: auto;
                margin-top: 1rem;
                border-radius: .3rem;
                font-size: .8em;
                font-family: 'SoletoMedium';
            }
        }
    }
    #logo {
        width: 12rem;
    }
    #memorybody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $navcolor;
        flex-flow: column;
        width: 25%;
        margin: auto;
        margin-bottom: 2rem;
        border-radius: .5rem;
        box-shadow: 0px 0px 90px $navcolor;
        img {
            width: 18rem;
            height: 23rem;
            object-fit: cover;
            border-radius: .5rem;
        }
        label {
            padding-bottom: .5rem;
        }
        #guess {
            height: 1.1rem;
            width: 14rem;
        }
        button {
            background: none;
            color: white;
            border: 1px solid white;
            padding: .5rem 1rem;
            margin: .5rem 0 0 0;
            width: -webkit-fill-available;
            border-radius: .3rem;
        }
    }
    #guessform{
        padding: 1rem;
    }
    #front_background {
        background-image: url("../img/bakgrund3.png");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 90vh;
        background-position: center;
        // opacity: 30%;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            color: blueviolet;
        }
    }
} 