@font-face {
  font-family: 'SoletoLight';
  src: url("../fonts/Dalton_Maag-Soleto_Light.ttf");
}

@font-face {
  font-family: 'SoletoMedium';
  src: url("../fonts/Dalton_Maag-Soleto_Medium.ttf");
}

@font-face {
  font-family: 'SoletoThin';
  src: url("../fonts/Dalton_Maag-Soleto_Thin.ttf");
}

body {
  margin: 0;
  background: #19012d;
  color: white;
  font-family: 'SoletoLight';
}

body nav {
  padding: 0 2rem 0 2rem;
  background: #613077;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav h1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  font-family: 'SoletoThin';
  font-size: 1.8rem;
}

body nav h1 a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav h1 a h1 {
  padding-left: .5rem;
}

body nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  text-decoration: none;
  color: white;
}

body nav a img {
  -o-object-fit: contain;
     object-fit: contain;
}

body nav form input {
  background: none;
  color: white;
  border: 1px solid white;
  padding: .5rem 1rem;
}

body header {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/3) calc(100%/3) calc(100%/3);
      grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

body .items {
  padding: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .items article {
  margin: 1rem;
  background: #613077;
  padding: 1rem 2rem;
}

body .items article a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .items article a p {
  font-family: 'SoletoMedium';
  padding-right: 1rem;
  font-size: 1.5vw;
}

body .items article a div {
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .items article img {
  height: 14rem;
  width: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
}

body .selected section {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

body .selected section article {
  margin: 1rem;
  background: #613077;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .selected section article a {
  color: white;
  text-decoration: none;
}

body .selected section article a div {
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .selected section article img {
  height: 14rem;
  width: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
}

body #select_submit {
  font-size: 1rem;
  font-family: 'SoletoThin';
  color: white;
  border: 1px white solid;
  padding: .5rem 1rem;
  background: none;
}

body aside {
  background: white;
  width: 18rem;
  float: right;
  position: -webkit-sticky;
  position: sticky;
  margin-top: -4.2rem;
  height: 42.8rem;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5rem;
}

body main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 2rem;
}

body main article div {
  background: #613077;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main article div img {
  height: 12rem;
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

body div {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body #logo {
  width: 12rem;
}

body #memorybody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #613077;
  -ms-flex-flow: column;
      flex-flow: column;
  width: 30%;
  margin: auto;
}

body #memorybody img {
  width: 20rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */